<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Pedro Visualizer</string>
	<key>CFBundleDisplayName</key>
	<string>Pedro Visualizer</string>
	<key>CFBundleExecutable</key>
	<string>pedro-visualizer</string>
	<key>CFBundleIconFile</key>
	<string>visualizer</string>
	<key>CFBundleIdentifier</key>
	<string>com.filipp-os.pedro-visualizer</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.13</string>
	<key>LSBackgroundOnly</key>
	<false/>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
